[Unit]
Description=Python OTGW MQTT bridge
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/usr/lib/py-otgw-mqtt
ExecStart=/usr/bin/python .
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
